# VCS
.git
.gitignore

# Python Caches / Test Caches
**/__pycache__/
**/.pytest_cache/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.ruff_cache/
.tox/

# Notebook / IDE
**/.ipynb_checkpoints/
.vscode/
.idea/

# Envs / Builds
.venv/
venv/
env/
dist/
build/
.eggs/
*.egg-info

# OS
.DS_Store
Thumbs.db
